[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
opencv-python-headless = "*"
pytesseract = "*"
numpy = "*"
pillow = "*"
requests = "*"

[requires]
python_version = "3.9"
